<h1 mat-dialog-title>Update Account</h1>
<p>First name: </p>
<form [formGroup] = "updateAccountForm" (ngSubmit)= "onSubmit()">
<mat-form-field appearance="fill">
  <mat-label>First Name</mat-label>
  <input matInput formControlName="firstName" name="firstName">
  <!-- <mat-error >
    Please enter a valid phone number
  </mat-error> -->
</mat-form-field>
<br>
<p>Last name: </p>
<mat-form-field appearance="fill">
  <mat-label>Last Name</mat-label>
  <input matInput formControlName="lastName" name="lastName">
  <!-- <mat-error >
    Please enter a valid phone number
  </mat-error> -->
</mat-form-field>
<br>
<p>Email: </p>
<mat-form-field appearance="fill">
  <mat-label>Email</mat-label>
  <input matInput formControlName="email" name="email">
  <mat-error *ngIf = "!updateAccountForm.get('email').valid && updateAccountForm.get('email').touched || !(updateAccountForm.get('email').value === '')">
    Please enter a valid email
  </mat-error>
</mat-form-field>
<br>
 <!-- <p>Set up a new password:</p>
<mat-form-field appearance="fill">
  <mat-label>Password</mat-label>
  <input matInput formControlName="password" name="password">
</mat-form-field>
<br> -->
  <button class=" btn btn-primary" type="submit" [disabled] = "updateAccountForm.invalid">Update</button>
  <button class= "btn btn-danger" style="margin-left: 50px">Cancel</button>
</form>


